<!DOCTYPE html>  
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"  
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"> 
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<script th:src="@{/Content/assets/lib/jquery-2.1.1.min.js}" ></script>
<script th:src="@{/Content/assets/lib/aYin/aYin.js}" ></script>
<script th:src="@{/Content/assets/lib/bootstrap/js/bootstrap.min.js}" ></script>
<script th:src="@{/Content/assets/init/loadFiles.js}" ></script>
<script th:src="@{/Content/js/util/StringUtils.js}"></script>
<script th:src="@{/Content/js/datepicker/WdatePicker.js}"></script>
<link th:href="@{/Content/js/datepicker/skin/WdatePicker.css}" rel="stylesheet" />
</head>

<script th:inline="javascript" type="text/javascript">

window.onload=function(){ 

	 var sqltypecode = window.document.getElementById('definitionid').value;		
	 var attList = document.getElementsByName("interest");		
	 var splitcod=sqltypecode.split(",");
	
	 var code="";
		 /*<![CDATA[*/
			 for(var t=0;t<splitcod.length; t++){
				  code=splitcod[t];			
		         for(var i=0;i<attList.length; i++){
		        	var codeid=attList[i].value;
		   						        	   
			       	if(code==codeid){
			       			attList[i].checked=true;//设置选中
			       		}
		       		
		       	
		         }
			 }	 
			 
       /*]]>*/
		
	 } 



	var url ="/DefinitionPrice/sumEndPrice?";
	var pageUrl = "/DefinitionPrice/sumEndPrice?pageNum=";
	
	var pageNum= [[${pageNum}]];   //当前页数
	var totalPage = [[${TotalPages}]]; //总共页数
	
	
	//根据表单form获得查询url的条件
	function getFormParams(serId){
		return serializeNotNull($("#search_form").serialize());
	}
	
	//获取查询url
	function searchUrl(pageNum){
		return pageUrl+pageNum+"&"+getFormParams("#search_form");
	}
	
	//搜索
	function search(){
		var form_data = getFormParams("#search_form");
		window.location.href=url+form_data;
	}


	//第一页
	function firstPage(){
	    if(1==pageNum){
	        alert("已经是首页了");
	    }else{
	    	pageNum = 1 ;
			window.location.href=searchUrl(pageNum);
	    }
	}
	//上一页
	function prePage(){
	    if(1==pageNum){
	        alert("已经是首页了");
	    }else{
		    pageNum--;
		    window.location.href=searchUrl(pageNum);
	    }
	}
	//下一页
	function nextPage(){
	    if(pageNum==totalPage){
	        alert("已经是尾页了");
	    }else{
		    pageNum++;
		    window.location.href=searchUrl(pageNum);
	    }
	}
	//尾页
	function lastPage(){
	    if(pageNum==totalPage){
	        alert("已经是尾页了");
	    }else{
	    	 pageNum=totalPage;
	    	 window.location.href=searchUrl(pageNum);
	    }
     }

	//刷新
	function myrefresh(){
	  window.location.reload();
	}


	//页面加载的时候,所有的复选框都是未选中的状态
	function checkOrCancelAll(){
			//1.获取checkbo的元素对象
		var chElt=document.getElementById("chElt");
		//2.获取选中状态
		var checkedElt=chElt.checked;
		//3.若checked=true,将所有的复选框选中,checked=false,将所有的复选框取消
		var allCheck=document.getElementsByName("interest");
		//4.循环遍历取出每一个复选框中的元素
		if(checkedElt){
			//全选
			for(var i=0;i<allCheck.length;i++){
			//设置复选框的选中状态
			allCheck[i].checked=true;
			}
		
		}else{
			//取消全选
			for(var i=0;i<allCheck.length;i++){
			allCheck[i].checked=false;
			}
		
		}
	}
	
	
	function checkData(){  
		 var answer= document.getElementsByName("interest"); 
		 var flag = false; 
		 for(var i=0;i<answer.length;i++){ 
		  if(answer[i].checked == true){ 
		   flag = true; 
		   break; 
		  } 
		 } 
		 if(!flag){ 
		  alert("请至少选择一项"); 
		 } 
		 return flag; 
		} 
	  
	
	function	checkForm() {
		var allCheck=document.getElementsByName("interest");
		var id="";
		var	url="/DefinitionPrice/sumEndPrice?datat=";
		var	datat="";
		var datatid=document.getElementById("datatid");

		if(datatid.value==""){
			 window.alert("计算开始时间不能为空");
			 return false;
		}else if(!checkData()){
			 return false;
		}else {	
			
			for(var i=0;i<allCheck.length;i++){
				if(allCheck[i].checked==true) {
					id+=allCheck[i].value+",";
				}
			}
			
		 if(id.split(",").length>0){
			 id=id.substring(0,id.length-1);
	       }
	     id="&definitionid="+id;
	     
		datat=datatid.value;
				
		   //使用form对象的submit()方法，实现提交。
		  window.location.href=url+datat+id;
		}
	}
   function DataAll(){
	
		var datatid=document.getElementById("datatid").value;
		url="/DefinitionPrice/sumalldate?datat="+datatid;
		if(datatid==""){
			 window.alert("计算开始时间不能为空");
			 return false;
		}
		 	console.log(datatid);
         window.location.href=url;
   }
</script>

<body >

<div class="top-barcenter">
     <ul class="breadcrumb top-breadcrumb">
         <li><i class="fa fa-home"></i></li>
         <li>配置管理</li>
         <li>产品公式管理</li>
         <li>价格分类计算</li>			         
     </ul>
     <ul class="top-toolbar"></ul>
</div>
	  
<div class="main-wrap"> 
		<div class="toolbar-wrap">		        
				     
			    
			       <div class="search-box ">                                                                                                    

						<div class="row search-input">
									 <div class="col-xs-2">
											 <div class="input-group">
												<input type="text" class="form-control start-time2" id="datatid"
													name="datat" th:value="${datat}"
													onfocus="WdatePicker()" placeholder="请选择计算开始时间"
													aria-describedby="sizing-addon2"> <span
													class="input-group-addon add-on"><i
													class="fa fa-calendar-alt"></i></span>
											</div>
									 
									     </div>
								         
								         <div class="col-xs-1">
								         <span class="input-group-btn">
								              <button  onclick="checkForm()" class="search-btn btn btn-primary"><i class="fa "></i> 计算</button>					              
								         </span>
								        
								          <span class="input-group-btn">
									              <button   onclick="DataAll()" class="search-btn btn btn-primary"><i class="fa "></i> 计算全部产品公式</button>					              
									       </span>
									         <input id="definitionid" type="text"  th:value="${definitionid}"  hidden="false"/>
									 </div>
									 <div class="col-xs-2"></div>
									  <form class="" id="search_form" role="search" action="/DefinitionPrice/sumEndPrice"  method="get">
						             <div class="col-xs-2"> <input type="hidden"  class="form-control " id="isenabled" name="isenabled" th:value="0" placeholder="请输入物料名称"> </div>		
																			  						
								     <div class="col-xs-2">                                                                                                      
											<input type="text" class="form-control " id="itemnameid" name="itemname" th:value="${searchList['itemname']}" placeholder="请输入物料名称">
									 </div>									
									 <div class="col-xs-2">
												<input type="text" class="form-control" id="typeidid" name="typeid" th:value="${searchList['typeid']}" placeholder="请输入物料编码">
									 </div>
							
									<div class="col-xs-1">
											<input type="button" class="search-btn btn btn-primary" onclick="search()" style="width: 100%;" value="搜索">

									</div>

						</div>
					</div>
			     </form>
		  </div>
	     <div class="scroll-wrapper"><!-- 开始列表滚动条 -->          
		<table   class="table table-hover table-striped ">
			         <thead>
			           <tr>
			           	 <th width="32">	
			           	 	<input type="checkbox" id="chElt" onclick="checkOrCancelAll()" /><span id="mySpan"></span>
					     </th>
			             <th width="50">序号</th>				           
			            <!-- <th width="98">物料编码</th> -->
			             <th >物料名称</th>
			             <th width="80">销售模式</th>
			             <th width="80">客户名称</th>
			             <th width="80">出厂方式</th>				           
			             <th width="80">运输方式</th>
			             <th width="80">市场区域</th>
			             <th width="100">计价周期</th>
			             <th >公式名称</th>
			             <th width="120">特殊公式</th>		
		             	 <th width="50">状态</th>          		         				                     
			           </tr>
			         </thead>
			         <tbody>
			      
			          <tr   th:each="definitionPrice,definitionPriceStat : ${definitionPriceList}">
			          		<td >
				          		 <div class="showing">						   						 
						    		<input  name="interest" type="checkbox"  th:value="${definitionPrice.id}" />						    		
								</div>
			          		</td>
			          		<td th:text="${definitionPrice.ordinal}"></td>
			             <!--    <td th:title="${definitionPrice.typeid}" th:text="${definitionPrice.typeid}"></td>-->
			                <td th:title="${definitionPrice.itemname}" th:text="${definitionPrice.itemname}"></td>
			                <td th:title="${definitionPrice.salesmodel}"  th:text="${definitionPrice.salesmodel}"></td>
			                <td th:title="${definitionPrice.custname}" th:text="${definitionPrice.custname}"></td>
			                
			                <td th:title="${definitionPrice.factoryway}" th:text="${definitionPrice.factoryway}" ></td>
			                <td th:title="${definitionPrice.transway}" th:text="${definitionPrice.transway}"></td>
			                <td th:title="${definitionPrice.marketarea}" th:text="${definitionPrice.marketarea}"></td>
			                <td th:title="${definitionPrice.valuecycle}" th:text="${definitionPrice.valuecycle}"></td>		
			                
			                <td th:title="${definitionPrice.formulaname}" th:text="${definitionPrice.formulaname}"></td>
			                <td th:title="${definitionPrice.specialformulaname}" th:text="${definitionPrice.specialformulaname}"></td>
			  
			               	
			               	<td  th:if="${definitionPrice.isenabled} == '0' " th:text="正常"></td>
			               	<td  th:if="${definitionPrice.isenabled} == '1' " th:text="停止"></td>
			               	
			               
			            </tr>
			         </tbody>
			       </table>
			     
		<div align="right">

			<ul class="pagination">
				<li><a href="javascript:void(0)" onclick="firstPage()">首页</a></li>
				<li><a href="javascript:void(0)" onclick="prePage()">上一页</a></li>
				<li><a href="javascript:void(0)" onclick="nextPage()">下一页</a></li>
				<li><a href="javascript:void(0)" onclick="lastPage()">尾页</a></li>
				<li>&ensp;
					<td th:text="${pageNum}"></td>/<td th:text="${TotalPages}"></td>&ensp;页
				</li>
				<li>总&ensp;
					<td th:text="${allnum}"></td>&ensp;条&ensp;&ensp;&ensp;&ensp;&ensp;
				</li>
			</ul>
		</div>
     </div>
</div>	 
<script th:inline="javascript">
    var message = [[${message}]];
    
    if(message=="insertsuccess"){
    	message="最终价格生成成功！"
    }
    if(message=="insertfailure"){
    	message="最终价格生成失败！"
    }
    			    
   
    if(message != null && message != ""){								    		
    		alert(message);							    								   		 
   	}						   
</script>
</body>
</html>
<!-- 列表滚动条样式和js --> 
<style>
.scroll-wrapper{overflow:auto; width:100%;height:300px;}
</style>
<script>
$(window).load(function(){
	$.timer.set("autoResize",function(){
		
		$(".scroll-wrapper").height(document.body.clientHeight-148);
	},500)
	
})
</script>
