<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- 引入的css文件  -->
    <link href="../context/css/intstyle.css" rel="stylesheet" type="text/css" />
    <link href="../context/css/style_index.css" rel="stylesheet" type="text/css" />
    <link href="../Content/assets/lib/bootstrap-table/css/bootstrap-table-fixed-columns.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet"
          href="../Content/assets/lib/x-editable-develop/dist/bootstrap3-editable/css/bootstrap-editable.css">
    <link href="../Content/assets/lib/bootstrap-table/css/bootstrap-table.min.css" rel="stylesheet" />
    <script type="text/javascript" src="../context/js/intstyle.js"></script>
    <script src="../Content/assets/lib/bootstrap/4.3/js/bootstrap.bundle.js"></script>
    <script src="../Content/assets/init/loadFiles.js" type="text/javascript" charset="utf-8"></script>
    <!-- 引入的js文件 -->
    <script src="../Content/js/datepicker/WdatePicker.js"></script>
    <script src="../Content/assets/lib/bootstrap-table/js/bootstrap-table.min.js"></script>
    <script src="../Content/assets/lib/base64.js"></script>
    <script src="../Content/assets/lib/js-xlsx/xlsx.core.min.js"></script>
    <script src="../Content/assets/lib/table-export/tableExport.js"></script>
    <script src="../Content/assets/lib/bootstrap-table/js/bootstrap-table-export.js"></script>
    <script src="../Content/assets/lib/x-editable-develop/dist/bootstrap3-editable/js/bootstrap-editable.js"></script>
    <script src="../Content/assets/lib/bootstrap-table/js/bootstrap-table-editable.js"></script>
    <script src="../Content/assets/lib/bootstrap-table/js/bootstrap-table-fixed-columns.js"></script>
    <script src="../Content/assets/lib/bootstrap-table/js/bootstrap-table-zh-CN.min.js"></script>

</head>
<body>
<div class="top-barcenter">
    <ul class="breadcrumb top-breadcrumb">
        <li><i class="fa fa-home"></i></li>
        <li>经营成本</li>
    </ul>
    <ul class="top-toolbar"></ul>
</div>
<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    添加
                </h4>
            </div>
            <form id="form_data" class="form-horizontal" role="form">
                <div class="modal-body">
                    <!--
                    <div class="form-group">
                        <label for="id">主键:</label>
                        <input type="text" name="id" id="id" class="form-control">
                    </div> -->
                    <div class="form-group">
                        <label for="code" class="col-sm-2 control-label">编码:</label>
                        <div class="col-sm-4">
                            <input type="text" name="code" id="code" class="form-control">
                        </div>
                        <label for="name"  class="col-sm-2 control-label">名称:</label>
                        <div class="col-sm-4">
                            <input type="text" name="name" id="name" class="form-control" >
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="moneys" class="col-sm-2 control-label">金额:</label>
                        <div class="col-sm-4">
                            <input type="text" name="moneys" id="moneys" class="form-control">
                        </div>
                        <label for="price"  class="col-sm-2 control-label">价格:</label>
                        <div class="col-sm-4">
                            <input type="text" name="price" id="price" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="numbers" class="col-sm-2 control-label">数量:</label>
                        <div class="col-sm-4">
                            <input type="text" name="numbers" id="numbers" class="form-control">
                        </div>
                        <label for="ordering"  class="col-sm-2 control-label">排序:</label>
                        <div class="col-sm-4">
                            <input type="text" name="ordering" id="ordering" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="types" class="col-sm-2 control-label">类型:</label>
                        <div class="col-sm-4">
                            <select id="types" name="types" class="form-control">
                                <option value="">请选择</option>
                                <option value="0">成本中心</option>
                                <option value="1">利润装置</option>
                            </select>
                        </div>
                        <label for="datatime" class="col-sm-2 control-label">日期:</label>
                        <div class="col-sm-4">
                            <input type="text" name="datatime" id="datatime" class="form-control" onclick="WdatePicker({dateFmt: 'yyyy-MM-dd'})" autocomplete="off">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                    </button>
                    <button type="button" class="btn btn-primary" id="btn-commit" onclick="add_info()" >
                        提交更改
                    </button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<div id="toolbar" class="btn-group">
    <button id="btn_add" type="button" class="btn btn-default"><!--data-toggle="modal" data-target="#myModal"-->
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>新增
    </button>
    <button id="btn_delete" type="button" class="btn btn-default">
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>删除
    </button>
    <!--<button id="btn_export" type="button" class="btn btn-default">
        导入
    </button>-->
    <!--<a class="btn btn-default" href="/target/table/downloadTemplate">模板下载</a>-->
    <div class="col-sm-4">
        <input type="text" class="form-control" id="names" placeholder="请输入名称">
    </div>
    <!--<div class="col-sm-4">
        <input type="text" class="form-control" id="endDate" placeholder="请输入结束时间" onclick="WdatePicker({dateFmt: 'yyyy-MM-dd'})">
    </div>-->
    <div class="col-sm-3">
        <button type="button" style="width: 100%;" id="btn_query" class="search-btn btn btn-primary">查询</button>
    </div>
</div>


<table id="tb_departments" class="table table-hover table-striped " style="table-layout: fixed;word-break:break-all;"></table>

</body>
<script>
    //搜索按钮点击事件
    $("#btn_query").click(function(){
        $("#tb_departments").bootstrapTable("refresh");
    });
    $(function () {
        //1.初始化Table
        var oTable = new TableInit();
        oTable.Init();

        //2.初始化Button的点击事件
        var oButtonInit = new ButtonInit();
        oButtonInit.Init();
        //获取权限
        var urls = window.location.pathname;//获取ip后面的路径
        /*        $.ajax({
                    type: "GET",
                    url: "/user/userRole",
                    data: {urls:urls},
                    dataType: "json",
                    success: function(data){
                        if(data){// 0有权限 1无权限
                            /!*if (data.addtype === 1){
                                $("#btn_add").hide();
                            }
                            if (data.deletetype === 1){
                                $("#btn_delete").hide();
                            }*!/
                            if (data.updatetype === 0){
                                updatetype = true;
                            }
                            if (data.importtype === 1){
                                $("#btn_export").hide();
                            }
                            if (data.exporttype === 0){
                                exporttype = true;
                                //1.初始化Table
                                oTable = new TableInit();
                                oTable.Init();
                            }
                            else {
                                oTable = new TableInit();
                                oTable.Init();
                            }
                        }else {
                            $("#btn_add").hide();
                            $("#btn_delete").hide();
                            $("#btn_export").hide();
                        }
                    }
                })*/

    });
    var local_host = '/OperatingCost/';

    var TableInit = function () {
        var oTableInit = new Object();
        //初始化Table
        oTableInit.Init = function () {
            $('#tb_departments').bootstrapTable({
                fixedColumns: true, //固定表头
                fixedNumber: 1,	//固定表头
                height: window.innerHeight - $('#tb_departments').position().top + $(".breadcrumb").outerHeight(),  // ← case-1: divTableBefore 作为表格工具栏时采用此行
                // height: window.innerHeight - $('#tb_departments').position().top + $(".breadcrumb").outerHeight() - $("#divTableBefore").outerHeight(),   // ← case-2: divTableBefore 不作为表格工具栏时采用此行
                /*表格加载完成后事件*/
                onPostBody: function (data) {
                    // 修复动态设置表格的高度后出现的样式问题
                    $(".fixed-table-border").eq(1).css({"width": "auto", "height": "auto"})
                },
                ajax:function(request){                    //使用ajax请求
                    $.ajax({
                        type:"GET",
                        url:local_host+'list',
                        contentType:'application/json;charset=utf-8',
                        dataType:'json',
                        data:request.data,
                        success:function (res) {
                            //let aaa={data:res}
                            var data= {rows:res.records, total:res.total};
                            request.success({
                                // row:aaa.data,
                                row:data,
                            });

                            $('#tb_departments').bootstrapTable('load',data);
                        },
                        error:function(error){
                            console.log(error);
                        }
                    })
                },
                //url: '/item/amount/list',      //请求后台的URL（*）
                //method: 'get',                      //请求方式（*）
                toolbar: '#toolbar',                //工具按钮用哪个容器
                striped: true,                      //是否显示行间隔色
                cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
                pagination: true,                   //是否显示分页（*）
                sortable: true,                     //是否启用排序
                sortOrder: "asc",                   //排序方式
                queryParams: oTableInit.queryParams,//传递参数（*）
                sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
                queryParamsType: "",
                pageNumber:1,                       //初始化加载第一页，默认第一页
                pageSize: 50,                       //每页的记录行数（*）
                pageList: [20,30,50,100],        //可供选择的每页的行数（*）
                search: true,                       //是否显示表格搜索，此搜索是客户端搜索，不会进服务端，所以，个人感觉意义不大
                strictSearch: true,                 //指定全匹配搜索
                showColumns: true,                  //是否显示所有的列
                showRefresh: true,                  //是否显示刷新按钮
                minimumCountColumns: 2,             //最少允许的列数
                //singleSelect: true,                 //单行选择单行,设置为true将禁止多选
                clickToSelect: false,                //是否启用点击选中行
                //height: tableHeight(),               //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度
                uniqueId: "ID",                     //每一行的唯一标识，一般为主键列
                showToggle:false,                    //是否显示详细视图和列表视图的切换按钮
                cardView: false,                    //是否显示详细视图
                detailView: false,                   //是否显示父子表
                detailFormatter:"detailFormatter", //定义详情显示函数
                //detailViewIcon:false,//隐藏图标列
                //detailViewByClick:true,//隐藏图标列
                //fixedColumns:true,                  //是否固定列
                //fixedNumber:2,                      //固定多少列，总左边开始数
                showExport: true,                   //是否显示导出按钮
                exportDataType: "all",//导出表格方式（默认basic：只导出当前页的表格数据；all：导出所有数据；selected：导出选中的数据）
                exportTypes: ['json', 'xml', 'csv', 'txt', 'sql', 'excel','xlsx'],//导出文件类型
                buttonsAlign:"right",               //按钮位置
                Icons:'glyphicon-export',           //按钮图标
                exportOptions: {
                    ignoreColumn: [0,1],  //忽略某一列的索引
                    fileName: 'priceTable',
                    worksheetName: "sheet1",  //表格工作区名称
                    tableName: 'price',
                    excelstyles: ['background-color', 'color', 'font-size', 'font-weight'],
                    mso: {
                        xslx: {                         // Specific Excel 2007 XML format settings:
                            formatId: {                   // XLSX format (id) used to format excel cells. See readme.md: data-tableexport-xlsxformatid
                                date:          14,          // formatId or format string (e.g. 'm/d/yy') or function(cell, row, col) {return formatId}
                                numbers:       0            // formatId or format string (e.g. '\"T\"\ #0.00') or function(cell, row, col) {return formatId}
                            }
                        },
                        //cell td实例 row td所在行 col td所在列
                        onMsoNumberFormat: '\\@'

                    },
                },
                //编辑编辑表格触发方法
                onEditableSave: function (field, row, oldValue, $el) {
                    $.ajax({
                        type: "POST",
                        url: local_host+"updateById",
                        data: row, //{'strJson': JSON.stringify(row),'field':field},
                        dataType: 'JSON',
                        success: function (data) {
                            console.log(data);
                            if (data.code) {
                                confirm(data.message);
                            }
                        },
                        error: function () {
                            alert("Error");
                        },
                        complete: function () {
                        }
                    });
                },
                columns: [{
                    checkbox: true
                },{
                    field: 'code',
                    title: '编码',
                    sortable: true,
                    align: 'center'//单元格中的数据水平方向的位置，'left', 'right', 'center'
                }, {
                    field: 'name',
                    title: '名称',
                    sortable: true,
                    align: 'center'//单元格中的数据水平方向的位置，'left', 'right', 'center'
                }, {
                    field: 'price',
                    title: '价格',
                    sortable: true,
                    align: 'center'//单元格中的数据水平方向的位置，'left', 'right', 'center'
                }, {
                    field: 'moneys',
                    title: '金额',
                    sortable: true,
                    align: 'center',//单元格中的数据水平方向的位置，'left', 'right', 'center'
                    editable: {
                        type: "text",                //编辑框的类型。支持text|textarea|select|date|checklist等
                        title: "金额",              //编辑框的标题
                        disabled: false,             //是否禁用编辑
                        emptytext: "空文本",          //空值的默认文本
                        mode: "popup",            //编辑框的模式：支持popup和inline两种模式，默认是popup
                        validate: function (v) {
                            if (!$.trim(v)) {
                                return '不能为空';
                            }
                        }
                    }
                },  {
                    field: 'numbers',
                    title: '数量',
                    sortable: true,
                    align: 'center'//单元格中的数据水平方向的位置，'left', 'right', 'center'
                }, {
                    field: 'datatime',
                    title: '日期',
                    //cellStyle:formatTableUnit,
                    //formatter:paramsMatter,
                    sortable: true,
                    align: 'center'//单元格中的数据水平方向的位置，'left', 'right', 'center'
                }, {
                    field: 'ordering',
                    title: '排序',
                    sortable: true   //排序
                },{
                    field: 'types',
                    title: '类型',
                    sortable: true   //排序
                }
                ],
            });
        };

        function paramsMatter(value,row,index) {
            var span=document.createElement('span');
            span.setAttribute('title',value);
            span.innerHTML = value;
            return span.outerHTML;
        }
        function formatTableUnit(value, row, index) {
            return {
                css: {
                    "white-space": 'nowrap',
                    "text-overflow": 'ellipsis',
                    "overflow": 'hidden'
                }
            }
        }

        //得到查询的参数，启用服务端分页时才需要
        oTableInit.queryParams = function (params) {
            var temp = {   //这里的键的名字和控制器的变量名必须一直，这边改动，控制器也需要改成一样的
                limit: params.pageSize,   //页面大小
                offset: params.pageNumber,  //页码
                names: $("#names").val(),
                search:params.searchText
            };
            return temp;
        };
        return oTableInit;
    };

    var ButtonInit = function () {
        var oInit = new Object();
        var postdata = {};

        oInit.Init = function () {
            //初始化页面上面的按钮事件
        };

        return oInit;
    };

    //定义详情显示函数
    function detailFormatter(index, row) {
        var html = []
        $.each(row, function (key, value) {
            if(key=="action" || key=="remark"){
                html.push('<p><b>' + key + ':</b> ' + value + '</p>');
            }
        });
        return html.join('');
    }
    // 删除按钮事件
    $("#btn_delete").on("click", function () {

        if (!confirm("是否确认删除？"))
            return;
        var rows = $("#tb_departments").bootstrapTable('getSelections'); // 获得要删除的数据
        if (rows.length == 0) { // rows 主要是为了判断是否选中，下面的else内容才是主要
            alert("请先选择要删除的记录!");
            return;
        } else {
            var ids = new Array(); // 声明一个数组
            $(rows).each(function () { // 通过获得别选中的来进行遍历
                ids.push(this.jlid); // cid为获得到的整条数据中的一列
            });

            //调用ajax删除选中的行
            deleteMs(ids)
        }

    });

    // 删除,删除数据库内容，刷新表格即可删除
    function deleteMs(ids) {
        $.ajax({
            dataType: "JSON",
            type: "GET",
            url: local_host + "deleteById?ids=" + ids,
            success: function (data) {
                if (data) {
                    alert(data.message + "共删除了" + data.data + "条数据");
                    $('#tb_departments').bootstrapTable('refresh', {
                        url: local_host + 'list'
                    });
                }
            },
            error: function () {
                alert("Error");
            }
        });
    }
    //点击添加时打开模态框
    $("#btn_add").on("click", function() {
        $("#myModal").modal("show");
    });
    //关闭模态框时清空模态框数据
    $(function (){
        $('#myModal').on('hidden.bs.modal', function (){
            $(':input','#form_data').not(':button,:submit,:reset').val('').removeAttr('checked').removeAttr('checked');
        });
    });

    // 添加入库操作
    function add_info() {
        var args={
            code: $("#code").val(),
            name: $("#name").val(),
            moneys:$("#moneys").val(),
            price:$("#price").val(),
            numbers: $("#numbers").val(),
            datatime:$("#datatime").val(),
            ordering: $("#ordering").val(),
            types:$("#types").val(),
        };
        if (!$.trim(args.code)) {
            alert( '编码不能为空');
            return false;
        }else if (!$.trim(args.name)) {
            alert( '名称不能为空');
            return false;
        }else if (!$.trim(args.moneys)) {
            alert( '金额不能为空');
            return false;
        }
        $("#myModal").modal("hide");
        $.ajax({
            dataType: "JSON",
            contentType: "application/json;charset=UTF-8",
            type: "POST",
            data: JSON.stringify(args),
            url: local_host+"save",
            success: function(data) {
                if(data) {
                    alert(data.message);
                    $('#tb_departments').bootstrapTable('refresh', {
                        url: local_host+'list',
                    });
                }
            },
            error:function () {
                alert("Error");
            }
        });

    }
    //避免出现双线竖滚动条
    function tableHeight() {
        var window_height = $(window).height();
        var obj_off_y = $(".btn-group").offset().top;
        var result_height = window_height - obj_off_y-1;
        return result_height;
    }
</script>
</html>