* {
  padding: 0;
  margin: 0;
}
li,ul {list-style: none;}
i{ font-style: normal;}
input,textarea,select,a:focus {outline: none;}
*{ box-sizing: border-box;}


body{background: url(../images/bg.png) center ; height: 1080px;  margin: 0 auto;}
/*头部样式*/
.head{  height: 68px; width: 100%; background: url(../images/topbg.png) repeat-x; position: relative;}
.head .logo{ width: 851px; height: 68px;  background: url(../images/logo.png) no-repeat center; margin: 0 auto;}
.head .logo2{ width: 911px; height: 68px;  background: url(../images/logo2.png) no-repeat center; margin: 0 auto;}
/*整体内容外框样式*/
.content{ padding: 25px;  }
.content .cont{position: relative;}
/*各版块样式*/
.wapsbg{ background: rgba(0,14,57,0.4); margin: 5px; border: 1px solid #0e1b52; border-radius: 5px; position: relative;}
.hei_1{ height: 305px;}
.hei_2{ height: 570px;}
.hei_3{ height: 470px;}
.hei_4{ height: 310px;}
.hei_5{ height: 635px;}
.hei_6{ height: 370px;}
.hei_7{ height: 470px;}
.hei_8{ height: 320px;}
.hei_9{ height: 620px;}

/*各版块四个亮脚*/
.radius1{ position: absolute; left: -1px; top: -1px;width: 12px; height: 12px; background: none; border:2px #00a2ff solid; border-radius: 5px 0 0 0px ; border-bottom:none;border-right:none;}
.radius2{ position: absolute; right: -1px; top: -1px;width: 12px; height: 12px; background: none; border:2px #00a2ff solid; border-radius: 0px 5px 0px 0px ; border-bottom:none;border-left:none;}
.radius3{ position: absolute; right: -1px; bottom: -1px;width: 12px; height: 12px; background: none; border:2px #00a2ff solid; border-radius: 0px 0px 5px 0px ; border-top:none;border-left:none;}
.radius4{ position: absolute; left: -1px; bottom: -1px; width: 12px; height: 12px; background: none; border:2px #00a2ff solid; border-radius: 0px 0px 0px 5px; border-top:none;border-right:none;}

/*四列样式*/
.warp1{position: absolute ; left:0; top: 0;  width: 22.5%;  z-index: 1;}
.warp2{ position: absolute; left: 22.5%; top: 0; width: 34%; z-index: 2;}
.warp3{ position: absolute; left: 56.5%; top: 0; width: 21.5%; z-index: 3;}
.warp4{ position: absolute; left: 78%; top: 0; width: 22%; z-index: 4;}

/*各版标题样式*/

.tittles{ }
.tittles i{ line-height: 40px; height: 40px; margin: 20px 20px 0px 20px; display: block; color: #fff; font-size: 18px; font-weight: 600;  font-family: "黑体";}
/*安全风险分析*/
.fxcont{ padding:0 15px;}
.fxcont .bk{ width: 50%; float: left; }
.fxcont .bk i{ display: block; width: 100%; color: #9cb5ff; font-size: 16px;font-family: "黑体"; font-weight: 600; height:36px; line-height: 36px; margin: 5px 0; text-align: center; }

.bkcont{ text-align: center; margin: 5px;}


/*事故风险分析*/
.sect{ height: 30px; margin: 20px 10px; text-align: center;}
.sect li{ display: inline-block; height: 30px; margin: 0 12px; padding: 0 5px; background-color: #1b71df; position: relative;}
.sect li input{ height: 26px; background: none; border: none; float: left; color: #fff; text-align: left; font-size: 16px; padding: 2px 5px; line-height: 26px;}
.input1{ width:160px; }
.input2{ width:70px; }
.sect li span{ width:28px;  height: 30px; float: right; text-align: center; cursor: pointer; color: #fff; font-size: 22px; line-height: 22px; }

.hid{border: 1px solid #1b71df; background: rgba(4,24,78,0.7); height: 170px; position: absolute; left: 0px; top: 30px; overflow-y: auto; display: none;}
.hid ul{ margin: 10px 0; padding: 0;}
.hid ul li{ background: none; margin: 0; padding: 0; width: 100%; text-indent:10px; height: 30px; color: #9cb5ff; line-height: 30px; cursor: pointer; text-align: left;}
.hid ul li:hover{ color: #fff; background: rgba(255,135,55,0.3);}



.img03{ margin: 20px 0; height: 320px;}

.shigu{ margin: 0 10px;}
.shigu li{ width: 50%; height: 50px; float: left; margin: 10px 0;}
.shigu li div{ margin: 0 7px; border: 1px solid #b46439; background: rgba(255,135,55,0.3); height: 48px;}
.shigu li div i{ display: block; height: 48px; line-height: 48px; font-size: 18px; color: #fff; width: 53%; padding: 0 5px; text-align: right; float: left; font-family: "微软雅黑";}
.shigu li div span{ display: block; height: 48px; line-height: 48px;color: #ffc096; font-size: 24px; width: 45%; padding: 0 5px; text-align: left;float: right; font-family: "微软雅黑";}


/*地图区域*/
.img04{ margin-top: 30px;}
.bk02title{ height: 40px; position: absolute; left: 50px; top: 20px;}
.bk02title i{line-height: 40px; height: 40px;display: block; color: #9cb5ff; font-size: 16px; font-weight: 600;  font-family: "黑体"; margin-left: 20px; float: left;}
.bk02title span{line-height: 40px; height: 40px;display: block; color: #9cb5ff; font-size: 16px; font-weight: 600;  font-family: "黑体"; float: left;}


.fenxi{ margin:10px; text-align: center;}
.fenxi li{ width: 30%; height:260px;  display: inline-block; margin: 10px 0;}
.fenxi li img{ margin-top: 30px;}

.img08{ margin-top: 20px;}


.shipin{ margin: 0 20px;}
.shipin li{ width: 50%; height: 100px; float: left; text-align: center; margin: 10px 0;}
.shipin li div{ height: 100px; margin:0px 10px}
.shipin li div img{ width: 100%; height: 100%; }


.tables{ width: 90%; margin: 20px auto ;}
.tables th{ background-color: #0466e2; font-size: 14px; text-align: center; color: #fff; font-weight: bold; height: 28px; vertical-align: middle;border-bottom: 1px solid #1d2c5d;border-top: 1px solid #1d2c5d;}
.tables td{font-size: 14px; text-align: center; color: #8eaaff; height: 28px; vertical-align: middle; border-bottom: 1px solid #1d2c5d;}

.bgcor1{background: rgba(44,62,116,0.3); }



/*三列样式*/
.bkcont02{margin:20px; overflow: hidden;}
.warp5{position: absolute ; left:0; top: 0;  width: 30%;  z-index: 5;}
.warp6{ position: absolute; left: 30%; top: 0; width: 40%; z-index: 6;}
.warp7{ position: absolute; left: 70%; top: 0; width: 30%; z-index: 7;}



.shigu2{ margin:10px;}
.shigu2 li{ width: 25%; height: 26px; float: left; }
.shigu2 li div{ margin: 0 7px; border: 1px solid #b46439; background: rgba(255,135,55,0.3); height: 24px;}
.shigu2 li div i{ display: block; height: 24px; line-height: 22px; font-size: 14px; color: #fff; width:65%;  text-align: right; float: left;font-family: "微软雅黑";}
.shigu2 li div span{ display: block; height: 24px; line-height: 22px;color: #ffc096; font-size: 16px; width:35%; text-align: left;float: right;font-family: "微软雅黑";}

.shipin2{ margin:10px 20px;}
.shipin2 li{ width: 50%; height: 213px; float: left; text-align: center; margin: 10px 0;}
.shipin2 li div{ height: 213px; margin:0px 10px}
.shipin2 li div img{ width: 100%; height: 100%; }

.dl01,.dl02{ margin: 10px 0; overflow: hidden;}
.dl01 dt{ height: 40px; line-height: 40px; font-size: 18px; color: #9cb5ff; text-align: left; font-family: "微软雅黑";}
.dl01 dd{ height: 30px; line-height: 30px; font-size: 18px; margin: 15px 0; float: left;}
.dl01 dd i{ display: block; width: 35%; float: left; height: 28px;  border-radius: 5px; text-align: center; line-height: 24px; font-size: 22px; color: #fff;font-family: "微软雅黑";}
.dl01 dd span{ display: block; width: 60%; float: left; height: 28px; text-align: left; text-indent: 15px; line-height: 28px; font-size: 28px; font-family: arial;}

.dd01{width:60%; }
.dd02{width:40%; }

.dd01 i{border: 1px solid #2ee4ff; background: rgba(46,228,255,0.5);}
.dd02 i{border: 1px solid #f9c973;background: rgba(249,201,115,0.5);}
.dd01 span{ color: #2ee4ff;}
.dd02 span{ color: #f9c973;}


.dl02 dt{ height: 40px; line-height: 40px; font-size: 18px; color: #9cb5ff; text-align: left;font-family: "微软雅黑";}
.dl02 dd{ height: 30px; line-height: 30px; font-size: 18px; margin: 15px 0; float: left; width:33.3333%;}
.dl02 dd i{ display: block; width: 34%; float: left; height: 28px;  border-radius: 5px; text-align: center; line-height: 24px; font-size: 18px; color: #fff;font-family: "微软雅黑";}
.dl02 dd span{ display: block; width:64%; float: left; height: 28px; text-align: left; text-indent: 5px; line-height: 28px; font-size: 26px;font-family: arial;}

.dd03 i{border: 1px solid #ff924a; background: rgba(255,146,74,0.5);}
.dd04 i{border: 1px solid #87a4ff;background: rgba(135,164,255,0.5);}
.dd05 i{border: 1px solid #ff3b3b;background: rgba(255,59,59,0.5);}

.dd03 span{ color: #ff924a;}
.dd04 span{ color: #87a4ff;}
.dd05 span{ color: #ff3b3b;}


.topul01{width:27%; position:  absolute; left: 0; top: 0; height: 49px; z-index: 10;}
.times{ float: left; margin: 0 20px; display: block; font-size: 14px; color: #fff; font-family: arial; line-height: 49px;}
.navul{ height: 49px; margin: 0 20px;}
.navul li{ display: inline-block; height: 49px; cursor: pointer; }
.navul li a{ display: block; height: 29px; margin: 10px 20px; float: left; color: #fff; font-size: 18px;  line-height: 29px; font-family: "微软雅黑";}
.navul li span{ display: block; height: 29px; margin: 10px 0;float: left; width: 2px; background-color: #0c3d9f; font-size: 0;}
.navul li:hover,.navul li.hover{ background-color: #0166e8;}
.navul li:hover span,.navul li.hover span{background-color: #0166e8;}

.ul01{ float: right;}
.ul02{ float: left;}
.topul02{width:27%; position:  absolute; right: 0; top: 0; height: 49px; z-index: 10;}
.name{ float: right; margin: 0 30px 0 0; display: block; }
.name span{ float: left; display: block; margin: 0 5px;line-height: 49px; font-size: 16px; color: #fff;}
.name i{  float: left;display: block;line-height: 49px; font-family: "微软雅黑";font-size: 14px; color: #fff; margin: 0 5px;}


